html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

#board {
  width: 400px;
}
#board div {
  float: left;
  border: 1px solid #221F1F;
  background: black;
  width: 40px;
  height: 40px;
}

#stats {
  clear: both;
  position: relative;
  background: black;
  width: 400px;
  height: 35px;
  padding: 3px;
  border: 2px solid #221F1F;
  border-top: 1px solid #221F1F;
}

#stats > span {
  background: black;
  color: yellow;
  font-size: 24px;
  position: absolute;
}

#stats > span > span {
  position: relative;
  left: 5px;
}

#score {
  left: 6px;
}

#lines {
  left: 150px;
}

#level {
  left: 300px;

}
