html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

html {
  background: black;
}

body {
  background: white;
}

#content {
  margin: auto;
  height: 600px;
  width: 800px;
  background: fuchsia;
  position: relative;
  left:
}

#main-display {
  margin: 0 auto;
  width: 400px;
  background: black;
  display: inline-block;
  float: left;
}

#side-display {
  display: inline-block;
  width: 200px;
  height: 100px;
  background: cyan;
  float: left;
  position: relative;
}

#board {
  margin: 0 auto;
  width: 400px;
}
#board div, #next-tetromino div {
  float: left;
  border: 1px solid grey;
  background: black;
  width: 40px;
  height: 40px;
}

#stats {
  margin: 0 auto;
  clear: both;
  position: relative;
  background: black;
  width: 400px;
  height: 35px;
  padding: 3px;
  border: 2px solid grey;
  border-top: 1px solid grey;
}

#stats > span {
  background: black;
  color: yellow;
  font-size: 24px;
  position: absolute;
}

#stats > span > span {
  position: relative;
  left: 5px;
}

#score {
  left: 6px;
}

#lines {
  left: 150px;
}

#level {
  left: 300px;
}

#next-tetromino {
  float: right;
  height: 80px;
  width: 160px;
  background: yellow;
}
