html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form *,
fieldset, label, input, textarea,
span, article, footer, time, small {

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Karla', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

html {
  background: grey;
  transition: background .4s ease;
}

body {
  background: grey;
  transition: background .4s ease;
}

h1, h2 {
  margin: auto;
  text-align: center;
}

h2 {
  margin-top: 40px;
  font-size: 15px;
  width: 135px;
  border-radius: 10px;
  background: #de4f4f;
  transition: background .09s ease;
}

h2:hover {
  background: #ff4f4f;
}

h3 {
  color: #de4f4f;
  font-size: 30px;
  text-align: center;
  margin: 60px;
}

#content {
  margin: auto;
  margin-top: 20px;
  height: 605px;
  width: 606px;
  background: black;
  position: relative;
  border-radius: 10px;
}

#main-display {
  margin: 0 auto;
  width: 66.6666%;
  height: 100%;
  background: black;
  display: inline-block;
  float: left;
  border: 1px solid white;
}

#side-display {
  display: inline-block;
  width: 33.3334%;
  height: 100%;
  border: 1px solid white;
  border-left: none;
  background: black;
  float: left;
  position: relative;
}

/*new game form*/

form {
  display: block;
  margin: auto;
  width: 90%;
  height: 50%;
  background: black;
}

form#new-game {
  position: relative;
  top: 34px;
  }

form * {
  color: white;
  margin: auto;
}

form {
  padding: 10px;
  border-radius: 10px;
}

form label {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 18px;
}

form input {
  display: block;
  text-align: center;
  font-size: 50px;
  height: 50px;
  width: 55px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#level {
  background: grey;
  border-radius: 10px;
  height: 55px;
  margin-top: 10px;
}

form button {
  clear: both;
  display: block;
  text-align: center;
  font-size: 50px;
  padding: 0 8px;
  border: 3px solid #de4f4f;
  border-radius: 15px;
  position: relative;
  top: 36%;
  transition: background .09s ease;
}

form button:hover {
  background: #de4f4f
}

form button.post-score {
  clear: both;
  display: block;
  text-align: center;
  font-size: 30px;
  top: 0;
}

form #username {
  text-transform: uppercase;
  width: 100%;
  font-size: 34px;
}

/*game*/

#board {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#board > div {
  float: left;
  background: black;
  width: 10%;
  height: 6.6666%;
}


/*top 20% lighter; bottom/right 10% darker*/
#board > div.Z, #next-tetromino > div.Z {
  background: DarkCyan;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(51, 190, 190);
  border-left-color: rgb(51, 190, 190);
  border-bottom-color: rgb(0, 193, 193);
  border-right-color: rgb(0, 193, 193);
}

#board > div.S, #next-tetromino > div.S {
  background: DarkGreen;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(51, 151, 51);
  border-left-color: rgb(51, 151, 51);
  border-bottom-color: rgb(0, 154, 0);
  border-right-color: rgb(0, 154, 0);
}

#board > div.T, #next-tetromino > div.T {
  background: #AA5500;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(221, 136, 51);
  border-left-color: rgb(221, 136, 51);
  border-bottom-color: rgb(224, 139, 0);
  border-right-color: rgb(224, 139, 0);
}

#board > div.L, #next-tetromino > div.L {
  background: DarkMagenta;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(190, 51, 190);
  border-left-color: rgb(190, 51, 190);
  border-bottom-color: rgb(193, 0, 193);
  border-right-color: rgb(193, 0, 193);
}

#board > div.J, #next-tetromino > div.J {
  background: LightGray;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(240, 240, 240);
  border-left-color: rgb(240, 240, 240);
  border-bottom-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
}

#board > div.l, #next-tetromino > div.l {
  background: DarkRed;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(190, 51, 51);
  border-left-color: rgb(190, 51, 51);
  border-bottom-color: rgb(193, 0, 0);
  border-right-color: rgb(193, 0, 0);
}

#board > div.O, #next-tetromino > div.O {
  background: DarkBlue;
  border-width: 3px;
  border-style: outset;
  border-top-color: rgb(51, 51, 190);
  border-left-color: rgb(51, 51, 190);
  border-bottom-color: rgb(0, 0, 193);
  border-right-color: rgb(0, 0, 193);
}

#board > div.empty, #next-tetromino > div.empty {
  background: black;
}

#board > div.clearing {
  transition: background .1s;
}

#board > div.explode1 {
  background: #FF0000;
}

#board > div.explode2 {
  background: #CC5500;
}

#board > div.explode3 {
  background: #CC00BB;
}
/*highscore table*/
#high-scores {
  height: 252px;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  padding-top: 7px;
  background: black;
  display: block;
  color: white;
  border-bottom: 1px solid white;
}

#high-scores > span {
  height: 20px;
  position: relative;
  display: block;
}

#high-scores > span.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  }

#high-scores span.name {
  position: absolute;
  left: 0;
}

#high-scores span.score {
  position: absolute;
  right: 0;
}

/*next block*/

#next-tetromino {
  height: 120px;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  display: block;
  position: relative;
  top: -14px;
}

#next-tetromino div {
  float: left;
  background: black;
}

#next-tetromino > div {
  width: 25%;
  height: 50%;
}

#next-tetromino div.long{
  position: relative;
  top: 25%;
}

#next-tetromino.small{
  width: 80%;
  }

#next-tetromino.small > div {
  width: 33.3333%;
  height: 50%;
}

#next {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 24px;
  display: block;
  padding-top: 10px;
  position: relative;
  top: 0;
  left: -46px;
}

/*stats*/

#stats {
  margin: 0 auto;
  position: absolute;
  background: black;
  width: 100%;
  height: 217px;
  padding: 0 20px 10px 20px;
  bottom: 0px;
}

#stats .label {
  width: 100%;
  color: white;
  font-size: 24px;
  display: block;
  position: relative;
  left: 4px;
}

#stats .score, .lines, .level {
  width: 100%;
  color: yellow;
  font-size: 36px;
  display: block;
  height: 38px;
  position: relative;
  top: -7px;
  left: 16px;
}
