html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

html {
  background: black;
}

body {
  background: white;
}

#content {
  margin: auto;
  height: 600px;
  width: 800px;
  background: black;
  position: relative;
}

#main-display {
  margin: 0 auto;
  width: 400px;
  background: black;
  display: inline-block;
  float: left;
}
/*new game form*/

#main-display form {
  display: block;
  background: green;
}

#main-display form * {
  color: white;
  margin: auto;
}

#side-display {
  display: inline-block;
  width: 200px;
  height: 600px;
  background: black;
  float: left;
  position: relative;
}

/*game*/

#board {
  margin: 0 auto;
  width: 400px;
  height: 600px;
}
#board div {
  float: left;
  /*border: 1px solid grey;*/

  background: black;
  width: 40px;
  height: 40px;
}

/*highscore table*/
#high-scores {
  height: 350px;
  width: 200px;
  margin: 0px auto;
  padding: 20px;
  background: red;
  display: block;
  color: white;
}

#high-scores > span {
  height: 20px;
  position: relative;
  display: block
}

#high-scores span.name {
  position: absolute;
  left: 0;
}

#high-scores span.score {
  position: absolute;
  right: 0;
}

/*next block*/

#next-tetromino {
  height: 120px;
  width: 200px;
  margin: 0px auto;
  padding: 20px;
  background: black;
  display: block;
}

/*stats*/

#stats {
  margin: 0 auto;
    position: absolute;
  bottom: 0px;
  background: green;
  width: 200px;
  height: 105px;
  padding: 3px;
  bottom: 0px;
  /*border: 2px solid grey;*/
  /*border-top: 1px solid grey;*/
}

#stats > span, #next {
  width: 100%;
  background: black;
  color: yellow;
  font-size: 24px;
  display: block;
  /*position: absolute;*/
}

#stats > span > span {
  position: relative;
  left: 5px;
}

#score {
  left: 6px;
}

#lines {
  left: 150px;
}

#level {
  left: 300px;
}
#next-tetromino.small{
  width: 160px;
  }

#next-tetromino div {
  float: left;
  background: black;
  width: 40px;
  height: 40px;
}
